@model DogsApp.Mvc.Models.Dog

<!DOCTYPE html>
<html>
<head>
	<title>Edit dog</title>
</head>
<body>

	<form action="/edit/@Model.Id" method="post">
		<label>Dog name</label>
		<input type="text" value="@Model.Name" name="Name" />
		<label>Age</label>
		<input type="number" value="@Model.Age" name="Age" />
		<input type="submit" value="Confirm edit" />
	</form>

	</body>
</html>