@model DogsApp.Mvc.Models.Dog[]

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<h1>All the dogs</h1>

	@foreach (var dog in Model)
	{
						
		<div>
			<h2>@dog.Name</h2>
			<p>Age: @dog.Age</p>
			<p>ID: @dog.Id</p>
		</div>
			

		<form method="post" action="/delete/@dog.Id">
			<input type="submit" value="Remove dog" />

		</form>

		
		<a href="/edit/@dog.Id"><button>Edit</button></a>

		@* <form method="post" action="/edit/@dog.Id"> *@
			@* <input type="submit" value="Edit" /> *@

		@* </form> *@


	}
	<br />
	<a href="/create">Create dog</a>


</body>
</html>